/* color variables */

body {
    --body-color: #FFEBB2;
    --accent-color: #E59BE9;
    --secondary-color: #b54769;
    --text-color: rgb(0, 0, 0);
    --card-color: #262626;
}
body.light {
    --body-color: #FFEBB2;
    --accent-color: #E59BE9;
    --secondary-color: #b54769;
    --text-color: #080808;
    --card-color: #ccc;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
body {
    background-color: var(--body-color);
    color: var(--text-color)
}

#hero {
    width: auto;
    height: 100vh;
    background-image: url('background.png');
    background-size: cover;
    background-position: 1%;
    background-attachment: fixed;
    padding: 10px 10px;
}
nav {
    display: flex;
    justify-content: space-between;
}
nav li {
    display: inline;
    text-align: center;
    list-style: none;
    margin: 100px 20px;
}
a {
    color: var(--text-color);
    text-decoration: none;
    font-size: 18px;
    position: relative;
}
a::after {
    content: '';
    width: 0;
    height: 3px;
    background-color: var(--accent-color);
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
a:hover::after {
    width: 100%;
}
.hero-text {
    margin-top: 20%;
    font-size: 30px;
}
h1 {
    font-size: 60px;
    margin-top: 20px;
}
.hero-text span {
    color: var(--accent-color);
}

/* about */
#about {
    padding: 40px;
}
.flex {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-img {
    flex-basis: 35%;
}
.about-img img {
    width: 100%;
    border-radius: 15px;
}
.about-text {
    flex-basis: 60%;
    padding: 0 10px;
}
.about-info {
    display: flex;
    margin: 20px 0 40px;
}
.about-links {
    cursor: pointer;
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    /* Новая строка внизу */
    position: relative;
}
.about-links::after {
    content: '';
    width: 0;
    height: 3px;
    background-color: var(--accent-color);
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}
.about-links.active-link::after {
    width: 50%;
}
.about-content {
    display: none;
}
.about-content.active-content {
    display: block;
}
.about-content li {
    list-style: none;
    margin: 10px 0;
}
.about-content span {
    color: var(--secondary-color);
    font-size: 18px;
}
/* Awards */
#award {
    padding: 50px 0;
}
#diploms.flex{
    justify-content: space-around;
    margin: 40px 10px 20px;
}
.award {
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    width: 300px;
    height: 80vh;
}
.award img {
    width: 100%;
    border-radius: 10px;
    display: block;
}

/* Portfolio */

#portfolio{
    padding: 50px 0;
}
#portfolio.flex{
    justify-content: space-around;
    margin: 40px 10px 20px;
}
.work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    width: 300px;
}
.work img{
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}
.layer{
    width: 100%;
    height: 0;
    background: linear-gradient(#fff, var(--accent-color));
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    font-size: 14px;
   transition: height 0.5s;
}
.layer h3{
    font-weight: 500;
    margin-bottom: 20px;
    color: #080808;
}
.layer p {
    color: #000000;
}
.layer a{
    margin-top: 20px;
    color: var(--primary-color);
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background: var(--text-color);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
}
.work:hover img{
    transform: scale(1.1);
}
.work:hover .layer{
    height: 100%;
}
.btn{
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid var(--primary-color);
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: var(--text-color);
    transition: background 0.5s;
}
.btn:hover{
    background: var(--primary-color);
}

.contact-left{
    flex-basis: 35%;
}
.contact-right{
    flex-basis: 60%;
}
.contact-left p{
    margin-top: 30px;
}
.contact-left p i{
    color: var(--primary-color);
    margin-right: 15px;
    font-size: 25px;
}
.social-icons{
    margin-top: 30px;
}
.social-icons a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: var(--text-color);
    display: inline-block;
    transition: transform 0.5s;
}
.social-icons a:hover{
    color: var(--primary-color);
    transform: translateY(-5px);
}
.btn.btn2{
    display: inline-block;
    background: var(--primary-color);
}
.contact-right form{
    width: 100%;
}
form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: var(--card-color);
    padding: 15px;
    margin: 15px 0;
    color: white;
    font-size: 18px;
    border-radius: 6px;
}
form .btn2{
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
}
.copyright{
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background: var(--card-color);
    font-weight: 300;
    margin-top: 20px;
}
.copyright i{
    color: white;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.container{
    padding: 10px 10%;
}

nav.fas{
    display: none;
}
#msg{
    color: #61b752;
    margin-top: -40px;
    display: block;
}
